In [3]:
#Numpy deals with large arrays and linear algebra
import numpy as np

import pandas as pd 
 
# Metrics for Evaluation of model Accuracy and F1-score
from sklearn.metrics  import f1_score,accuracy_score
 
#Importing the Decision Tree from scikit-learn library
from sklearn.tree import DecisionTreeClassifier

#Importing the Gradient Descent Classifier from scikit-learn library
from sklearn.linear_model import SGDClassifier

#Importing the KNN from scikit-learn library
from sklearn.neighbors import KNeighborsClassifier
 
# For splitting of data into train and test set
from sklearn.model_selection import train_test_split




filePath = '/Users/apple/Documents/Kaggle/ClassificationModel/insurance2.csv'
filePath2 = '/Users/apple/Documents/Kaggle/ClassificationModel/insurance3r2.csv'

df = pd.read_csv(filePath)
insurance1_df = pd.read_csv(filePath)
X = insurance1_df
y = X.pop('insuranceclaim')


# Split dataset
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [4]:
df

      age  sex     bmi  children  smoker  region      charges  insuranceclaim
0      19    0  27.900         0       1       3  16884.92400               1
1      18    1  33.770         1       0       2   1725.55230               1
2      28    1  33.000         3       0       2   4449.46200               0
3      33    1  22.705         0       0       1  21984.47061               0
4      32    1  28.880         0       0       1   3866.85520               1
...   ...  ...     ...       ...     ...     ...          ...             ...
1333   50    1  30.970         3       0       1  10600.54830               0
1334   18    0  31.920         0       0       0   2205.98080               1
1335   18    0  36.850         0       0       2   1629.83350               1
1336   21    0  25.800         0       0       3   2007.94500               0
1337   61    0  29.070         0       1       1  29141.36030               1

[1338 rows x 8 columns]

In [8]:
X_train

      age  sex     bmi  children  smoker  region      charges
621    37    1  34.100         4       1       3  40182.24600
194    18    1  34.430         0       0       2   1137.46970
240    23    0  36.670         2       1       0  38511.62830
1168   32    1  35.200         2       0       3   4670.64000
1192   58    0  32.395         1       0       0  13019.16105
...   ...  ...     ...       ...     ...     ...          ...
763    27    1  26.030         0       0       0   3070.80870
835    42    1  35.970         2       0       2   7160.33030
1216   40    1  25.080         0       0       2   5415.66120
559    19    1  35.530         0       0       1   1646.42970
684    33    0  18.500         1       0       3   4766.02200

[1070 rows x 7 columns]

# DecisionTreeClassifier

In [9]:

model1 = DecisionTreeClassifier()
model1.fit(X_train,y_train)

prediction = model1.predict(X_valid)
print(accuracy_score(y_valid,prediction))
print(f1_score(y_valid,prediction))

0.996268656716418
0.9965635738831615

# KNN (k-nearest neighbor)

In [10]:
KNN_model = KNeighborsClassifier()
KNN_model.fit(X_train,y_train)

prediction = KNN_model.predict(X_valid)
print(accuracy_score(y_valid,prediction))
print(f1_score(y_valid,prediction))

0.6417910447761194
0.6942675159235668

# Gradient Descent Classifier

In [11]:
SGDC_model = SGDClassifier()
SGDC_model.fit(X_train,y_train)

prediction = SGDC_model.predict(X_valid)
print(accuracy_score(y_valid,prediction))
print(f1_score(y_valid,prediction))

0.458955223880597
0.0

In [13]:
import pickle

Pkl_Filename = "RL_Model.pkl"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(model1, file)

In [16]:

import joblib
joblib.dump(model1, 'model.joblib')

['model.joblib']

In [ ]:
%bash gcloud components update

In [21]:
y_valid.loc[578]

1

In [ ]:
52,1,30.200,1,0,3,9724.53000